.Top {
  min-height: 100%;
  max-height: 100%;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  background-color: #14274e;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.current-top-post {
  display: contents;
}

.top-image {
  flex-grow: 1;
  overflow: hidden;
}

.top-image img {
  min-width: 100%;
  max-width: 100%;
}

.top-title {
  flex-shrink: 0;
  overflow: hidden;

  padding: 1rem;

  background-color: #14274e;
  color: #f1f6f9;
  text-align: center;
}